body {
    font-family: 'Great Vibes', cursive;
    background-color: #ff66b2;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.container img {
    max-width: 100%;
    height: auto;
}

.content {
    margin-top: 20px;
}

h1 {
    color: #ff66b2;
    font-size: 30px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color:  #FEA3B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#noBtn {
    background-color:#a881af;
}

button:hover {
    background-color:#FC6C85;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

.popup button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
